* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* more on this crazy alphanumerical value in a minute! */
  /* I'm a CSS comment! */
  color: #39a6b2;
  font-family: Helvetica, Arial, sans-serif;
}

/* apply styles to <header> */
header {
  padding: 20px 35px;
  background-color: #39a6b2;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* apply styles to header h1 only */
header h1 {
  font-weight: bold;
  font-size: 36px;
  color: #fce138;
  margin: 0;
  /*display: inline;*/
}

/* apply yellow color to header hr anchors and removes link decorations */
header h1 a {
  font-weight: bold;
  font-size: 36px;
  color: #fce138;
  margin: 0;
  text-decoration: none;
}

/* apply style to header anchors only */
header a {
  text-decoration: none;
  color: #fce138;
}

/* apply style to header nav only */
header nav {
  /*float: right;*/
  margin: 7px 0;
}
/* apply style to header nav unordered lists */
header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

/* apply style to header nav lists 
header nav ul li {
  display: inline;
}*/

/* apply style to header nav list anchors */
header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 1.55vw;
}

/* apply style to the footer */
footer {
  background: #fce138;
  width: 100%;
  padding: 40px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* apply style to the footer h2 */
footer h2 {
  color: #024e76;
  font-size: 30px;
  margin: 0;
}

/* apply style to the footer div */
footer div {
  line-height: 1.5;
  text-align: right;
}

/* apply style to the footer a */
footer a {
  color: #024e76;
}

/* section styles start */
section {
  padding: 60px;
}
/* sections style ends */

/* HOMEPAGE HERO STYLE START */
.hero {
  background-image: url("../images/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  }
/* HOMEPAGE HERO STYLE END */

/* Hero-cta style start */
.hero-cta {
  width: 35%;
  text-align: right;
  margin: 3.5%;
  color: #fff;
  font-size: 18px;
  line-height: 1.3;
}

.hero-cta h2 {
  font-style: italic;
  font-size: 55px;
  color: #fce138;
}
/* Hero-cta style end*/

/* Hero-form Style Start */
.hero-form {
  border: solid 3px #024e76;
  background-color: #fce138;
  padding: 20px;
  color: #024e76;
  width: 40%;
  margin: 3.5%;
}
/* Hero-form Style End */

/* Hero-form h3 Style Start */
.hero-form h3 {
  font-size: 24px;
  margin: 0;
}
/* Hero-form h3 Style End */

/* Hero-form p Style Start */
.hero-form p {
  /* margin is always top, right, bottom, left */
  margin: 5px 0 15px 0;
}
/* Hero-form p Style End */

/* form-input Style Start */
.form-input {
  border: 1px solid #024e76;
  display: block;
  padding: 7px 15px;
  font-size: 16px;
  color: #024e76;
  width: 100%;
  margin-bottom: 15px;
}
/* form-input Style End */

/* hero-form label style start */
.hero-form label {
  margin: 0 5px;
}
/* hero-form label style end */

/* hero-form button style start */
.hero-form button {
  color: #fce138;
  background-color: #024e76;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
}
/* hero-form button style end */

/* intro style start 
.intro {
  text-align: center;
}*/


/* intro p style start */
.intro p {
  line-height: 1.7;
  color: #39a6b2;
  width: 80%;
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
}
/* intro p style end */

/* steps style start */
.steps { 
  background: #fce138;
}
/* steps style end*/

/* section-title, primary-border, secondary-border declarations remove duplication in intro h2 and steps h2 sections */
.section-title {
  font-size: 55px;
  color: #024e76;
  border-bottom: 3px solid;
  padding-bottom: 20px;
  text-align: center;
  margin: 0 auto 35px auto;
  width: 50%;
}

.primary-border {
  border-color: #fce138;
}

.secondary-border {
  border-color: #39a6b2;
}

/* START OF STEP STYLE */
.step {
  margin: 50px auto;
  padding-bottom: 50px;
  width: 80%;
  border-bottom: 1px solid #39a6b2;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.step-info {
  flex: 2 70%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.step-img {
  flex: 1 12%;
  margin-right: 20px;
}

.step-img img {
  max-width: 100%;
}
/* steps img style end */

/* steps h3 style start */
.step h3 {
  color: #024e76;
  font-size: 46px;
  flex: 1 30%;
}
/* steps h3 style end */

.step-text {
  flex: 12;
}

/* steps p style start */
.step-text p {
  color: #39a6b2;
  font-size: 18px;
}
/* steps p style end */

.step-text h4 {
  font-size: 26px;
  line-height: 1.5;
  color: #024e76;
}

/* trainer style start (not to be confused with trainers) */
.trainer {
  margin: 0 auto 20px auto;
  background: #024e76;
  color: #fce138;
  flex: 1;
}
/* trainer style end */

/* trainer img style start */
.trainer img {
  width: 100%;
}
/* trainder img style end */

/* trainer-bio style start */
.trainer-bio {
  padding: 25px;
  line-height: 1.3;
}
/* trainer-bio style end */

/* text-left align style start - for adjusting the trainer bios, but can be used anywhere */
.text-left {
  text-align: left;
}
/* text-left align style end */

/* text-right align style start - for adjusting the trainer bios, but can be used anywhere */
.text-right {
  text-align: right;
}
/* text-right align style end */

.flex-row {
  display: flex;
}

/* trainer-bio h3 style start */
.trainer-bio h3 {
  font-size: 28px;
}
/* trainer-bio h3 style end */

/* trainer-bio h4 style start */
.trainer-bio h4 {
  font-weight: lighter;
  font-size: 22px;
  margin-bottom: 15px;
}
/* trainer-bio h4 style end */

/* trainer-bio p style start */
.trainer-bio p {
  font-size: 17px;
}
/* trainer-bio p style end */

.trainers {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* REACH OUT STYLES START */

/* contact style start */
.contact {
  background: #024e76;
}
/* contact style end */

/* contact h2 style start */
.contact h2 {
  color: #fce138;
}
/* contact h2 style end */

/* contact-info iframe style start */

/* contact-info iframe used because iframe alone presumes no other iframe will be introduced later on */
.contact-info iframe {
  width: 400px;
  height: 400px;
}
/* contact-info iframe style ends */

/* contact-info div style start */
.contact-info div {
  width: 410px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin: 30px 0 0 60px;
  color: white;
}
/* contact-info div style end */

.contact-info h3 {
  color: #fce138;
  font-size: 32px;
}

.contact-info p, .contact-info address {
  margin: 20px 0;
  line-height: 1.5;
  font-size: 20px;
  font-style: normal;
}

.contact-info a {
  color: #fce138;
}
/* REACH OUT STYLES END */


